.text-center {
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.loading-box {
    padding: 5px 10px;
    background-color: #222;
    color: #fff;
    position: fixed;
    bottom: 0;
    right: 10px;
}

.loading-animation {
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-right: 5px;
}
