/*
   |--------------------------------------------------------------------|
   |                              Layout                                |
   |--------------------------------------------------------------------|
*/
ul.input-list {
    padding: 0;
    margin: 0 0 10px 0;
}

ul.input-list > li {
    list-style: none;
    margin: 10px 0 0 0;
}

ul.input-list > li:first-child {
    margin: 0;
}

ul.input-row {
    padding: 0;
    margin: 0 0 10px 0;
}

ul.input-row > li {
    list-style: none;
    float: left;
    margin: 0 5px;
}

/*
   |--------------------------------------------------------------------|
   |                              Fields                                |
   |--------------------------------------------------------------------|
*/
label {
    margin: 0 0 5px 0;
    display: block;
    padding: 0;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    font-size: 16px;
    box-shadow: none;
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
    background-color: #fff;
    border: 1px solid #acacac;
    outline: none;
}

textarea {
    resize: vertical;
    min-height: 41px;
    height: 5em;
}

textarea[readonly] {
    background-color: #EEEEEE;
    cursor: not-allowed;
}

textarea[readonly]:focus {
    border-color: #acacac;
    box-shadow: none;
}

option {
    outline: none;
}

input:focus, select:focus, textarea:focus {
    border-color: #808080;
    box-shadow: 0 0 5px #868686;
}

input.small, select.small, textarea.small {
    font-size: 0.9em;
    padding: 5px;
}

input.invalid, select.invalid, textarea.invalid {
    border-color: #DC3232;
}

span.error-msg {
    color: #DC3232;
}

/*
   |--------------------------------------------------------------------|
   |                              Buttons                               |
   |--------------------------------------------------------------------|
*/
button, .button {
    font-size: 14px;
    display: inline-block;
    background-color: #f8f4e3;
    padding: 10px 40px;
    border: 1px solid #a2a392;
    cursor: pointer;
}

a.button {
    color: inherit !important;
}

button:hover, .button:hover {
    background-color: #d4cdc3;
    border-color: #9a998c;
}

button:active, .button:active {
    box-shadow: inset 2px 2px 7px #9a998c;
    border-color: #9a998c;
    outline: none;
}

button[disabled],
button[disabled]:hover,
button[disabled]:active,
.button[disabled],
.button[disabled]:hover,
.button[disabled]:active {
    background-color:  #f0f3f4;
    border-color:   #d7dbdd;
    box-shadow: none;
    cursor: not-allowed;
}

button.small, .button.small {
    font-size: 0.9em;
    padding: 5px 10px;
}

button.inline, .button.inline {
    margin: 0;
    display: inline-block;
}

/* Primary */
button.primary, .button.primary {
    background-color: #0085BA;
    color: #fff;
    border-color: #0073AA;
}

button.primary:hover, .button.primary:hover {
    background-color: #008ec2;
}

button.primary:active, .button.primary:active {
    box-shadow: inset 2px 2px 7px #0073AA;
}

button[disabled].primary,
button[disabled].primary:hover,
button[disabled].primary:active,
.button[disabled].primary,
.button[disabled].primary:hover,
.button[disabled].primary:active{
    background-color:  #5499c7;
    border: none;
}

/* Danger */
button.danger, .button.danger {
    background-color: #cb4335;
    color: #fff;
    border-color:  #b03a2e;
}

button.danger:hover, .button.danger:hover {
    background-color: #e74c3c;
}

button.danger:active, .button.danger:active {
    box-shadow: inset 2px 2px 7px #b03a2e;
}

button[disabled].danger,
button[disabled].danger:hover,
button[disabled].danger:active,
.button[disabled].danger,
.button[disabled].danger:hover,
.button[disabled].danger:active{
    background-color: #ec7063;
    border: none;
}

/* Success */
button.success, .button.success {
    background-color: #229954;
    color: #fff;
    border-color: #1e8449;
}

button.success:hover, .button.success:hover {
    background-color: #27ae60;
}

button.success:active, .button.success:active {
    box-shadow: inset 2px 2px 7px #1e8449;
}

button[disabled].success,
button[disabled].success:hover,
button[disabled].success:active,
.button[disabled].success,
.button[disabled].success:hover,
.button[disabled].success:active{
    background-color: #52be80;
    border: none;
}

/* Warning */
button.warning, .button.warning {
    background-color: #ca6f1e;
    color: #fff;
    border-color: #af601a;
}

button.warning:hover, .button.warning:hover {
    background-color:  #e67e22;
}

button.warning:active, .button.warning:active {
    box-shadow: inset 2px 2px 7px #af601a;
}

button[disabled].warning,
button[disabled].warning:hover,
button[disabled].warning:active,
.button[disabled].warning,
.button[disabled].warning:hover,
.button[disabled].warning:active{
    background-color: #eb984e;
    border: none;
}
