body {
    background-image: url('../imgs/user_bg.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #222;
}

body > main {
    clear: both;
    min-height: 100%;
}

hr {
    margin: 10px 0;
}

.ticket-id {
    font-weight: bold;
    text-align: center;
    font-family: monospace;
    font-size: 2em;
    color: #000;
}

/*
   |--------------------------------------------------------------------|
   |                              Header                                |
   |--------------------------------------------------------------------|
*/
body > header {
    width: 100%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    float: left;
}

body > header h1 {
    font-size: 16px !important;
    color: #eeeeee !important;
}

body > header > a, body > header > a:visited {
    color: #ffffff;
    margin: 0;
    padding: 10px;
    display: inline-block;
}

body > header > a:hover {
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
}

#admin-icon {
    height: 16px;
    margin: 0 10px;
}

/*
   |--------------------------------------------------------------------|
   |                              Panel                                 |
   |--------------------------------------------------------------------|
   | 
   | Modifiche rispetto a common.css
   |
*/
.panel {
    box-shadow: -4px 4px 5px rgba(125, 125, 125, 0.3);
    background-color: rgba(255, 255, 255, 0.9);
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    width: 50%;
}

.panel > .body {
    padding: 10px 30px 30px 30px;
}

.panel > footer {
    padding: 5px 30px 20px 30px;
    margin-bottom: 0;
    border: none;
}

/*
   |--------------------------------------------------------------------|
   |                              Panel                                 |
   |--------------------------------------------------------------------|
   | 
   | Modifiche rispetto a form.css
   |
*/
.button {
    padding: 10px 20px;
    margin: 20px 0;
}

/*
   |--------------------------------------------------------------------|
   |                               Form                                 |
   |--------------------------------------------------------------------|
*/
body > footer {
    width: 100%;
    background-color: #111;
    text-align: center;
    color: #fff;
    padding: 3px 0;
}

body > footer > p {
    margin: 0;
    font-size: 0.7em;
}


/*
   |--------------------------------------------------------------------|
   |                              PWeb Flag                             |
   |--------------------------------------------------------------------|
*/
#pweb-flag {
    position: fixed;
    left: 0;
    bottom: 0;

}

#pweb-flag a {
    padding: 10px 15px;
    background-color: #229954;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
    color: #fff;
    display: block;
}

#pweb-flag a:hover {
    background-color:  #27ae60;
    text-decoration: underline;
}
