body > main {
    width: 100%;
    padding: 0;
}

.main-box {
    width: 40%;
    max-width: 400px;
    margin: 0 auto;
    // margin-top: 100px;
}

.main-box .alert {
    width: 100%;
    margin-bottom: 20px;
}

section.panel {
    width: 100%;
    padding: 20px;
}

section.panel header {
    background-color: #222;
    padding: 15px;
}

section.panel header h2 {
    color: #fff;
}

section.panel footer {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 0.9em;
    text-align: center;
    border: none;
}

header > img.logo {
    float: none;
    opacity: 0.9;
    display: block;
    height: 100px;
    margin: 0 auto;
}

body > header {
    padding: 40px 0;
    background-color: transparent;
    float: none;
}

body > header > h1 {
    display: block;
    text-align: center;
    margin: 0;
    color: #222;
    font-size: 2em;
}
