nav {
    top: 40px;
    position: fixed;
    width: 15%;
}

nav.side-menu-nav {
    padding: 10px 0;
    background-color: #222222;
    height: 100%;
}

ul.side-menu {
    margin: 0;
    padding: 0;
}


ul.side-menu > li {
    list-style: none;
    padding: 0;
}

ul.side-menu > li > a {
    display: block;
    padding: 10px;
    color: inherit;
    text-decoration: none;
    outline: 0;
}

/* FIRST LEVEL */

ul.side-menu.first-lvl > li {
    color: #ffffff;
    font-weight: 400;
}

ul.side-menu.first-lvl > li > a.selected {
    background-color: #0073A4;
}

/* SECOND LEVEL */
ul.side-menu.second-lvl {
    margin-left: 0;
    background-color: #333333;
}

ul.side-menu.collapsed {
    display: none;
}

ul.side-menu.second-lvl > li {
    color: #bbbbbb;
}

ul.side-menu.second-lvl > li > a.selected {
    color: #ffffff;
    font-weight: bold;
}
