form.custom-field {
    border: 1px solid #ddd;
    padding: 5px;
    box-shadow: 0 0 3px #ddd inset;
    margin-bottom: 10px;
}

form.cursor-field:last-child {
    margin-bottom: inherit;
}

li.index {
    width: 7%;
}

li.label {
    width: 40%;
}

li.type {
    width: 40%;
}

li.required {
    width: 8%;
}

li.placeholder {
    width: 49%;
}

li.default-value {
    width: 49%;
}
