/*
   |--------------------------------------------------------------------|
   |                             Side Box                               |
   |--------------------------------------------------------------------|
*/
#side-box {
    float: right;
    width: 30%;
}

#side-box > section {
    margin-bottom: 10px;
}

#side-box > section:last-child {
    margin-bottom: 0;
}

dl {
    margin: 5px 0;
}

dt {
    display: inline;
    color: #666;
}

dd {
    display: inline;
    margin: 0;
    font-weight: bold;
}

/*
   |--------------------------------------------------------------------|
   |                           Messages Box                             |
   |--------------------------------------------------------------------|
*/
#messages-box {
    float: left;
    width: 69%;
}

#messages-box > header.priority-high {
    background-color: #c0392b;
    color: #ffffff;
}

#messages-box > header.priority-low {
    background-color: #ffffff;
}

#messages-box > header.priority-normal {
    background-color: #7fb3d5;
}

#messages-box > header > h3 {
    color: inherit;
}

#messages-box form button {
    margin: 10px 0;
}

/*
   |--------------------------------------------------------------------|
   |                             Messages                               |
   |--------------------------------------------------------------------|
*/
ul.message-list {
    list-style: none;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 10px;
    margin: 0 0 10px 0;
    float: left;
    background-color: #e0e0e0;
    background-image: url('../../imgs/paper_bg.png');
    background-repeat: repeat;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.3);
}

li.message {
    width: 100%;
    clear: both;
    float: left;
    margin-bottom: 15px;
}

li.message:last-child {
    margin-bottom: 0;
}

.message-text {
    box-sizing: border-box;
    max-width: 55%;
    background-color: #fff;
    padding: 10px 25px;
    border-radius: 10px;
}

.message-text p {
    margin: 2px 0;
}

.customer .message-text {
    float: left;
    color: #fff;
    background-color: #444;
}

.operator .message-text{
    float: right;
}

span.message-time {
    display: block;
    text-align: right;
    font-size: 0.6em;
    font-style: italic;
}

span.message-sender {
    display: block;
    text-align: left;
    font-size: 0.9em;
    font-weight: bold;
}
7
