form.ticket-search {
    margin-bottom: 10px;
}

#search-bar {
    width: 30%;
    float: right;
    padding: 0 5px;
    height: 1.5em;
    font-size: 0.95em;
}

#only-checkbox-div {
    float: left;
    width: 50%;
}

#only-checkbox-div label {
    display: inline-block;
    font-weight: 400;
    margin: 0;
}

#only-checkbox {
    display: inline-block;
    width: auto;
    margin: 0 5px;
}

table.ticket-table tbody tr:hover {
    cursor: pointer;
}

tr.ticket-high {
    background-color:  #d98880;
    color: #fff;
}

tr.ticket-high.selected {
    background-color: #C0392B;
}

tr.ticket-high:hover {
    background-color:  #cd6155;
}

tr.ticket-low {
    color: #6f6f6f;
}
